$default-color: #1e1e1e;
$default-color-lighten: #bdbcbc;
$primary-color: #17ed78;
$primary-color-lighten: #4dee95;

$secondary-color: #0C7F41;
$secondary-color-lighten: #1f7e4b;

$warning-color: #e57d0d;
$error-color: #e53939;


$global-content-center: 90%;
